@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--mdc-theme-primary: #123456;
	--mdc-theme-on-primary: #0abcde;
	/*--mdc-checkbox-checked-color: #aaaaaa;
    --mdc-checkbox-ink-color: #aaaaaa;*/
}

body {
	margin: 0;
}

main {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fira Sans', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;	
}

.fr {
	float: right;
}

.mdc-top-app-bar {
	background: black !important;
	position: initial !important;
}

/* File selection buttons */
#read-file {
	display: none;
}

#file-content {
	margin-bottom: 4rem;
}

#file-action { 
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#file-name-label {
	height: 36px;
	position: absolute;
	width: 24rem;
}

#read-file-button {
	margin-left: 27rem; 
}

/* ACCORDION */
.category {
	margin-bottom: 1rem;
}

.category .accordion-header {
	border: 1px solid rgb(0 0 0 / 38%);
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0 4rem;
}
.category .accordion-header h3 {
	display: inline-block;
}
.category .accordion-header h4 {
	display: inline-block;
}
.category .accordion-body {
	border: 1px solid rgb(0 0 0 / 38%);
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem 0 2rem 0.8rem;
}


/* CRITERION BOXES */
.criterion .mdc-touch-target-wrapper {
	vertical-align: top;
}

.criterion .rightcrit {
	display: inline-block;
	width: 50rem;
}

.sliderBox .slider {
	width: 75%;
}

.sliderBox .mdc-text-field {
	width: 3.5rem;
    height: 2rem;
    padding: 0;
}

.sliderBox .mdc-text-field .mdc-text-field__input {
    text-align: right;
}


/* FOOTER */
footer {
	width: 100%;
	height: 8rem;
}