body {
	margin: 0;
}

main {
	margin-top: 1rem;
}

.mdc-top-app-bar {
	background: black !important;
	position: initial !important;
}

/* File selection buttons */
#file-selection #read-file {
	display: none;
}

#file-selection #file-action { 
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#file-selection #file-name-label {
	height: 36px;
	position: absolute;
	width: 24rem;
}

#file-selection #read-file-button {
	margin-left: 27rem; 
}