:root {
	--mdc-theme-primary: #123456;
	--mdc-theme-on-primary: #0abcde;
	/*--mdc-checkbox-checked-color: #aaaaaa;
    --mdc-checkbox-ink-color: #aaaaaa;*/
}

body {
	margin: 0;
}

main {
	margin-top: 1rem;
}

.mdc-top-app-bar {
	background: black !important;
	position: initial !important;
}

/* File selection buttons */
#read-file {
	display: none;
}

#file-action { 
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#file-name-label {
	height: 36px;
	position: absolute;
	width: 24rem;
}

#read-file-button {
	margin-left: 27rem; 
}

/* CRITERION BOXES */
.criterion .mdc-touch-target-wrapper {
	vertical-align: top;
}

.criterion .rightcrit {
	display: inline-block;
	width: 40rem;
}

.criterion input[type="range"] {
	width: 100%;
}